<div class="card">
    <h2>{{ value.name }}</h2>
    <div class="events-container">
        <ul>
            {% for event in value.get_events %}
                <li _="on click toggle .expand on <.event-description/> in me then halt">
                    <div class="event-title">
                        <h3>{{ event.name }}</h3>
                    </div>
                    <span class="event-info">
                        {{ event.readable_times.date }}, {{ event.readable_times.start_time }} - {{ event.readable_times.end_time }}
                    </span>
                    <div class="event-description hidden">
                        {% if event.description %}
                            {{ event.description|safe }}
                        {% else %}
                            This event has no description.
                        {% endif %}
                        <a href="{{ event.link }}">
                            View on Chuch Center
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a class="card-action" href="{{ settings.site_settings.SiteWideSettings.churchcenter_calendar_url }}">View Full Calendar</a>
</div>