<div class="card">
    <h2>{{ value.name }}</h2>
    <div class="events-container">
        <ul>
            {% for event in value.get_events %}
                <li>
                    <div class="event-title">
                        <h3>{{ event.name }}</h3>
                        <a href="{{ event.link }}">
                            More Info
                        </a>
                    </div>
                    <span class="event-info">
                        {{ event.readable_times.date }}, {{ event.readable_times.start_time }} - {{ event.readable_times.end_time }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a class="card-action" href="{{ settings.site_settings.SiteWideSettings.churchcenter_calendar_url }}">View Full Calendar</a>
</div>