{% load menu_tags %}
{% load icon %}

<ul class="nav closed">
    <li class="menu-toggle">
        <a href="/" role="button" _="on click toggle .closed on closest <.nav/> then halt">
            {% icon "menu" class="icon-white" height='20' width='20' %}
        </a>
    </li>
    {% for item in menu_items %}
        <li class="{{ item.active_class }}">
            {% if item.has_children_in_menu %}
                <a href="{{ item.href }}" _="on click toggle .expand on closest <li/>
                                             then add .clicked to closest <li/>
                                             then remove .expand from <.nav > li:not(.clicked)/>
                                             then remove .clicked from closest <li/>
                                             then halt">
                    {{ item.text }}
                </a>
                {% sub_menu item %}
            {% else %}
                <a href="{{ item.href }}">
                    {{ item.text }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
