{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load icon %}

<i></i>
{% image value.featured_image max-150x85 %}
<div class="visual-h4">{{ value.title }}</div>
{% include_block value.one_sentence %}
<button class="card-action" _="on click add .shown to next <.kiosk-content-details/>">Details</button>
<div class="kiosk-content-backdrop">
    <div
            class="kiosk-content-details"
            _="on click from body if .shown is empty halt else if event.target is not in me and event.target does not match .card-action add .animating to <.kiosk-content-details.shown/> then remove .shown from me then go to top of #kiosk-header then wait 0.3s then remove .animating from me"
    >
    <div class="kiosk-details-action-bar">
        <a class="card-action" _="on click add .animating to closest <.kiosk-content-details/> then remove .shown from <.kiosk-content-details/> then go to top of #kiosk-header then wait 0.3s then remove .animating from <.kiosk-content-details/>">{% icon 'arrow-left' %} Back</a>
        {% for action in value.actions %}
            <a class="card-action" href="{{ action.value.url }}">{% icon action.value.icon %} {{ action.value.title }}</a>
        {% endfor %}
    </div>
    {% if value.details %}
        <article class="content list-page">
            <h1>{{ value.title }}</h1>
            {% include_block value.details %}
        </article>
    {% else %}
        {% if value.details_page.specific.is_group %}
            <article class="planningcenter-html">
                <h1>{{ group_title }}</h1>
                    <img src="{{ header_image }}" class="right">
                    <a href="{{ churchcenter_group_url }}" class="right">View {% if group_is_open %}and join {% endif %}this group on Church Center</a>
                {{ group_body|safe }}
            </article>
        {% elif value.details_page.specific.body_is_streamfield %}
            <article class="content list-page">
                <h1>{{ value.details_page.specific.title }}</h1>
                {% include_block value.details_page.specific.body %}
            </article>
        {% endif %}
    {% endif %}
    </div>
</div>