<p>
    <label>{{ self.label_text }}{% if self.required %}<span class="required-asterisk">*</span>{% endif %}</label>
</p>
<div class="multiple-choice dynamic-field">
    {% for option in self.options %}
        <label>
            <input
                    type="{% block type %}checkbox{% endblock %}"
                    name="{% block name %}{% if self.name_slug %}{{ self.name_slug }}{% else %}{{ self.label_text|slugify }}{% endif %}{% endblock %}"
                    value="{{ option }}"
            >
        {{ option }}
        </label>
    {% endfor %}
</div>
{% if self.required %}<span class="form-required-error"><em>This field is required.</em></span>{% endif %}