{% load wagtailcore_tags %}
<div class="repeating-fields">
    <span class="visual-h3">{{ self.title }}</span>
    {% for block in self.fields %}
        {% include_block block %}
    {% endfor %}
    <span class="toolbar">
        <button class="card-action" type="button" _="on click put my parentElement's parentElement as HTML after my parentElement's parentElement then halt">Add Another {{ self.title }}</button>
        <button class="card-action remove warning" type="button" _="on click remove my parentElement's parentElement then halt">Remove</button>
    </span>
</div>
