@font-face {
  font-family: 'League Spartan Variable';
  src: url('/static/fonts/LeagueSpartanVariable.woff2') format('woff2-variations');
  font-weight: 200 900;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --page-width: 85rem;
    --standard-gap: 1.5rem;
    --standard-radius: 2rem;
    --hover-transition-time: 180ms;
    --accent-color: #006b1b;
    --standard-border-thickness: 3px; /*TODO: Implement this everywhere*/
}

.skiplink {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
}

.skiplink:focus {
    position: static;
    width: auto;
    height: auto;
    background: red;
    padding: 0.5rem;
    color: white;
}

body {
    background: #ffffff;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows:
        auto /*Wagtail User Bar*/
        auto /*Header*/
        auto /*Navbar*/
        1fr /*Content*/
        auto; /*Footer*/
    font-family: "League Spartan Variable";
    font-variation-settings: "wght" 375;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

img {
    border-radius: var(--standard-radius);
}

.round-featured-image {
    width: 200px;
    height: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title > * {
    line-height: initial;
}

h1 {
    font-family: "League Spartan Variable";
    font-variation-settings: "wght" 450;
    text-align: center;
    margin-bottom: var(--standard-gap);
    font-size: 2.3rem;
}

.visual-h2,
h2 {
    font-family: "League Spartan Variable";
    font-variation-settings: "wght" 450;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.visual-h3,
h3 {
    font-size: 1.7rem;
    font-variation-settings: "wght" 450;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.visual-h4,
h4 {
    font-variation-settings: "wght" 450;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

h5 {
    font-variation-settings: "wght" 450;
}

h6 {
    font-variation-settings: "wght" 450;
}

article h2 {
    margin-inline: auto;
    text-align: center;
}

article li {
    margin-bottom: 0.25rem;
}

article ul ul,
article ol ol{
    margin-top: 0.25rem;
}

a {
    tab-index: 0;
}

iframe {
    aspect-ratio: 1.77 / 1;
    width: 100%;
    height: auto;
}

.no-list-style {
    list-style: none;
}

/*Support Wagtail Rich Text image classes*/
.left:not(.parent-height),
.right:not(.parent-height) {
    max-width: 45%;
    height: auto;
    clear: both;
}

.left {
    float: left;
    margin: 0 1.5rem 0.75rem 0;
}

.right {
    float: right;
    margin: 0 0 1.5rem 0.75rem;
}

.full-width {
    max-width: 100%;
    align-self: center;
    margin: auto;
    display: block;
    height: auto;
}

.parent-height {
    width: auto;
}

.full-width,
.right,
.left {
    margin-bottom: 1rem;
}
/*End Wagtail Rich Text image classes*/

strong,
b {
    font-variation-settings: "wght" 550;
}

/*Support custom text-align Rich Text blocks*/
p.centered {
    text-align: center;
}

p.right-aligned {
    text-align: right;
}
/*End custom text-align blocks*/

main {
    max-width: var(--page-width);
    width: 100%;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 30ch auto;
    background: white;
}

main > :only-child {
    grid-column: span 2
}

body:not(.template-homepage) > main {
    margin-top: 1rem;
}

.site-logo > svg {
    fill: #006b1b;
    height: 100px;
}

header {
    background: white;
    padding: 20px calc(calc(100% - var(--page-width)) / 2);
    display: flex;
}

.header-left {
    display: flex;
    margin-left: 1rem;
}

.header-right {
    margin-right: 1rem;
    margin-left: auto;
    font-family: "League Spartan Variable";
    display: flex;
    flex-direction: column;
    font-variation-settings: "wght" 345;
    text-align: right;
}

.header-links > a {
    padding-bottom: 0;
    padding-top: 0.1rem;
}

.header-links > a + a {
    border-left: 1px solid black;
    padding-left: 0.3rem;
}

.announcement {
    font-size: 1.8rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #505050;
    white-space: nowrap;
}

.site-title {
    align-self: center;
    margin-left: 1rem;
    font-family: "League Spartan Variable";
    font-variation-settings: "wght" 345;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.site-title > :nth-child(1) {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
}
.site-title > span:nth-child(2) {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}
.site-title > span:nth-child(3) {
    font-size: 1.2rem;
}

nav > .nav {
    display: flex;
    /*padding: 0 calc(calc(100% - var(--page-width)) / 2);*/
    padding: 0;
    align-items: start;
    max-width: calc(var(--page-width) - 2rem);
    margin: auto;
    background: white;
    border-bottom: 3px solid #006b1b;
    text-decoration: none;
    color: white;
    font-family: "League Spartan Variable";
    font-variation-settings: "wght" 350;
    font-size: 1.5rem;
}

nav > .nav li {
    list-style: none;
    width: auto;
    height: 100%;
    position: relative;
    background: unset;
    transition: background var(--hover-transition-time);
    white-space: nowrap;
    color: black;
    padding: 0;
}

.nav li a {
    color: black;
    transition: color var(--hover-transition-time);
    padding: 0.75rem 1.5rem;
}

.nav li a:focus,
.nav li:hover a,
.nav li.ancestor a,
.nav li.active a,
.nav li.expand a {
    color: white;
    transition: color var(--hover-transition-time);
}

nav > .nav > li > ul {
    display: none;
}

nav > .nav > li.expand > ul {
    display: unset;
    position: absolute;
    /*background: #005000;*/
    background: #006b1b;
    z-index: 1000;
}

nav > .nav li:focus-within,
nav > .nav li:hover {
    background: #006b1b;
    transition: background var(--hover-transition-time);
    color: white;
}

nav > .nav li.ancestor,
nav > .nav li.active,
nav > .nav li.expand {
    background: #006b1b;
}

.nav li > ul > li {
    background: unset;
    transition: background var(--hover-transition-time);
}

.nav li > ul > li:hover {
    background: #005000;
    transition: background var(--hover-transition-time);
}

nav > .nav a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

nav > .nav .menu-toggle {
    display: none;
}

article {
    max-width: var(--page-width);
    display: block;
    padding: 1rem;
    container-type: inline-size;
    /*margin: auto;*/
}

article.list-page {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap)
}

article > p {
    margin-bottom: var(--standard-gap);
}

.page-preview.newsletter ul,
article > ul,
article > ol,
.block-rich_text > ul,
.block-rich_text > ol {
    list-style-position: outside;
    padding-left: 1rem;
}
.left ~ ul,
.left ~ ol {
    overflow: hidden;
    padding-left: 2rem;
}

.page-preview.newsletter ul {
    list-style-type: disc;
}

.post {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.post.less > * {
    display: none;
}

.post.less > p:nth-of-type(1),
.post.less > h3.post-title,
.post.less > .showmore {
    display: unset;
}

hr {
    width: 75%;
    margin: 1rem auto 1rem auto;
    border: 2px solid #006b1b;
}

.block-multi_column {
    display: flex;
}

.block-column {
    flex-grow: 1;
}

/*Directions List*/
.block-directions ol {
    list-style: none;
    counter-reset: directions-counter 0;
    display: grid;
    gap: var(--standard-gap)
}

.block-directions ol > li {
    counter-increment: directions-counter 1;
}

.block-directions ol > li.has-image {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--standard-gap)
}

.block-directions ol > li ol,
.block-directions ol > li ul {
    list-style: inside;
}

/*.block-directions ol > li.has-image > .image-container {*/
/*    max-height: 35rem;*/
/*    height: auto;*/
/*    width: 100%;*/
/*}*/

.block-directions ol > li.has-image > img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.block-directions ol > li > span:before {
    content: counter(directions-counter) ": "
}

.block-directions ol > li.has-image > span {
    grid-column: span 2;
}

@media screen and (max-width: 50rem) {
    /*Mobile directions list*/
    .block-directions > ol > li.has-image {
        grid-template-columns: 1fr;
    }

    .block-directions > ol > li.has-image > span {
        grid-column: auto;
    }

    .block-directions > ol > li.has-image > img {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 63rem) {
    /*Responsive Header*/
    header {
        flex-direction: column;
        align-content: center;
    }

    .header-right,
    .header-left {
        margin: auto;
    }

    .header-right {
        flex-direction: column-reverse;
    }

    .header-links {
        align-self: center;
    }
    /*End Responsive Header*/
}

.card.upcoming-service {
    gap: 0;
}

.card.upcoming-service h2,
.card.upcoming-service h3,
.service-description,
.link-container {
    margin-bottom: 1rem;
}

@media screen and (min-width: 60rem) {
    @container (width < 28rem) {
        .service-description {
            line-height: 1.3rem;
        }
        .service-description > img {
            height: 100px;
            width: auto;
        }
    }

    @container (width < 25.5rem) {
        .upcoming-service-buttons a {
            font-size: 1rem;
        }
        .upcoming-service-buttons {
            gap: 0.75rem;
        }
        .service-description {
            line-height: 1rem;
        }
        .card.upcoming-service h2,
        .card.upcoming-service h3,
        .service-description {
            margin-bottom: 0.5rem;
        }
    }
}

@media screen and (max-width: 63rem) {

    .block-multi_column {
        flex-direction: column;
    }

    .block-column {
        flex-grow: unset;
    }

    /*Responsive Navbar*/
    nav > .nav {
        flex-direction: column;
        width: 100%;
        gap: 0;
        background: #005000;
    }

    nav > .nav li {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        background: #005000;
    }

    nav > .nav li.expand {
        padding-bottom: 0.5rem;
    }

    nav > .nav > li.expand > ul {
        display: flex;
        flex-direction: column;
        position: unset;
    }

    nav > .nav li > ul a {
        margin-left: 1rem;
    }

    nav > .nav li:hover {
        background: unset;
    }

    nav > .nav a {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        color: white;
    }

    nav > .nav li.active,
    nav > .nav li.expand,
    nav > .nav li.ancestor {
        background: #006b1b;
    }

    nav > .nav .menu-toggle {
        display: unset;
        text-align: center;
    }

    nav > .nav.closed li:not(.menu-toggle) {
        display: none;
    }

    /*End Responsive Navbar*/
    /*Responsive Header*/
    .site-title {
        text-align: center;
        margin: 0;
    }

    .site-title > :nth-child(1) {
        font-size: 1.6rem;
    }
    .site-title > span:nth-child(2) {
        font-size: 1.3rem;
    }
    .site-title > span:nth-child(3) {
        font-size: 1rem;
    }
    .site-logo {
        align-self: center;
    }
    .site-logo > svg {
        width: 75px;
        height: auto;
    }
    .header-left {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-content: center;
    }

    .header-right {
        margin-top: .5rem;
        margin-right: auto;
        text-align: center;
    }

    .announcement {
        font-size: 1.4rem;
    }
    /*End Responsive Header*/
    /*Center all rich text images on mobile*/
    .left:not(.parent-height),
    .right:not(.parent-height),
    .full-width {
        float: unset;
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }
    /*End Center all rich text images on mobile*/
    /*Move sidebar to bottom on mobile*/
    main {
        grid-template-columns: unset;
    }

    main .content {
        order: -1;
    }

    .sidebar::before {
        content: "";
        border-top: 2px solid #006b1b;
        width: 100%;
        display: block;
        margin-bottom: 0.75rem;
    }
    /*End Move sidebar to bottom on mobile*/
}

/*.events-container {*/
/*    contain: size;*/
/*    padding: 10px;*/
/*}*/

/*.events-container > ul {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/

.events-container li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.13rem;
    width: 100%;
    border-radius: 5px;
}

.events-container li > .event-info {
    color: #303030;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: var(--standard-gap);
}

.card {
    font-family: "League Spartan Variable";
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #eeeeee;
    /*border: 1px solid #006b1b;*/
    border-radius: var(--standard-radius);
    /*padding: 1rem;*/
    overflow: clip;
}

.card:not(.upcoming-service):not(.badges) > :not(img) {
    margin-inline: 1rem;
}

.card > img {
    /*margin: -1rem -1rem -1rem -1rem;*/
    width: 100%;
    height: auto;
}

.card h2 {
    text-align: center;
    margin-top: 0.5rem;
    font-variation-settings: "wght" 450;
    font-size: 1.8rem;
}

.card h2:first-child {
    margin-top: var(--standard-gap);
}

.card h3 {
    font-size: 1.4rem;
    margin-top: initial;
    margin-bottom: initial;
}

.card h4 {
    font-size: initial;
    margin-bottom: initial;
    margin-top: initial;
}

.card-action {
    align-self: center;
    margin-top: auto;
    /*margin-bottom: calc(-2.5rem - 6px);*/
    padding: 1rem 1.5rem 0.85rem;
    border: var(--standard-border-thickness) solid var(--accent-color);
    border-radius: var(--standard-radius);
    background: unset;
    color: black;
    text-decoration: none;
    transition: background var(--hover-transition-time), color var(--hover-transition-time);
    margin-bottom: 1rem;
    font-variation-settings: "wght" 450;
}

.card-action:focus,
.card-action:hover {
    background: #006b1b;
    color: white;
    transition: background var(--hover-transition-time), color var(--hover-transition-time);
}

.card > .events-container ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card > .events-container h3 {
    font-variation-settings: "wght" 450;
}

.card.badges > ul {
    padding: 1rem;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card.badges > a {
    display: block;
    width: fit-content;
    height: fit-content;
}

.card.badges > ul {
    list-style: none;
}

.card.badges > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    text-align: center;
    margin: auto;
}

.card.badges img {
    border-radius: 0;
}

.event-title {
    display: flex;
}

.event-title a {
    margin-left: auto;
    margin-right: 0.25rem;
    white-space: nowrap;
}

.events-container.services li {
    min-height: 3rem;
}

/*.event-title > a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-size: larger;*/
/*    font-weight: bold;*/
/*}*/

/*.events-container > h2 {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.events-container li:hover {*/
/*    box-shadow: 0 0 3px inset black;*/
/*}*/

/*.events-container li:hover a {*/
/*    text-decoration: underline;*/
/*}*/

/*Footer*/
footer {
    /*max-width: var(--page-width);*/
    width: 100%;
    /*padding: 0 calc(calc(100% - 11in) / 2);*/
    /*min-height: 20rem;*/
    height: auto;
    padding: 1.5rem;
    margin: auto;
    background: #005000;
    color: white;
    display: grid;
    /*grid-template-columns: 1.5fr repeat(4, 1fr);*/
    gap: 1.5rem;
}

footer a:link {
    color: #bee3f8;
}

footer a:visited {
    color: #e8dfff;
}

footer > div {
    flex-grow: 1;
}

footer .nav {
    list-style: none;
}

footer .nav > li ul {
    display: none;
}

footer .menu-toggle {
    display: none;
}

footer .block-image img {
    max-width: 100%;
    height: auto;
    max-height: 20rem;
}

footer > .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-inline: auto;
    text-align: center;
}

.footer-content > * {
    margin-inline: auto;
}

footer > .footer-content > * {
}

.minister-feature {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.minister-feature > span > :not(p:first-of-type):not(img):not(h3):not(h4) {
    display: none;
}

.minister-feature h3 {
    margin-bottom: 0.5rem;
}

.minister-feature h4 {
    margin-bottom: 0.25rem;
}

/*End Footer*/

.sidebar {
    padding: 0.75rem;
    padding-top: 1rem;
    font-family: "League Spartan Variable";
    display: flex;
    flex-direction: column;
}

.sidebar img {
    width: 100%;
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding-left: 1rem;
}

.sidebar ul ul {
    padding-left: 0.75rem;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar ul li ul > :first-child {
    margin-top: 0.5rem;
}

.sidebar .visual-h4 {
    margin-inline: auto;
    margin-top: 0;
}


/*Copied from home.css - reconsider how to do this*/


/*article {*/
/*    display: grid;*/
/*    gap: var(--standard-gap)*/
/*}*/

.home-header-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    gap: var(--standard-gap);
    width: 100%;
    height: fit-content;
}

.card.upcoming-service {
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    container-type: inline-size;
    padding: 0 1rem 1rem 1rem;
}

.card.upcoming-service > h2,
/*.card.upcoming-service > div,*/
.card.upcoming-service > .upcoming-service-buttons {
    grid-column: span 2;
}

.card.upcoming-service > img {
    grid-row: span 2;
}

.card.upcoming-service > h2 {
    /*margin-bottom: 0;*/
    height: auto;
}

.card.upcoming-service > h3 {
    font-variation-settings: "wght" 350;
    height: auto;
}

.upcoming-service-buttons {
    margin-bottom: 0;
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-auto-columns: 1fr;*/
    height: 6rem;
    gap: var(--standard-gap);
    max-width: 40rem;
    width: 100%;
    align-self: center;
}

.upcoming-service-buttons > a {
    height: 100%;
    max-width: 15rem;
}

.upcoming-service-buttons > a:nth-child(1) {
    grid-column: 1;
}

.upcoming-service-buttons > a:nth-child(2) {
    grid-column: 2;
}

.upcoming-service-buttons > a:nth-child(3) {
    grid-column: 3;
}

.upcoming-service-buttons > a:only-child {
    grid-column: 2;
}

.upcoming-service-buttons .card-action {
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.upcoming-service .card-action > svg {
    margin: 0.5rem auto 0.5rem auto;
}

@container (width < 25.5rem) {
    .upcoming-service-buttons a {
        font-size: 1rem;
    }

    .upcoming-service-buttons {
        gap: 0.75rem;
    }
}

/*.upcoming-service-buttons a {*/
/*    border: 3px solid #006b1b;*/
/*    border-radius: var(--standard-radius);*/
/*    font-size: 1rem;*/
/*    text-align: center;*/
/*}*/

/*End copied from home.css*/


/*Copied from generic-index.css*/
.block-expandable_list > ul,
.index-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--standard-gap);
    container-type: inline-size;
    /*height: 100%;*/
}

.block-expandable_list > ul > li,
.block-page_feature,
.index-list > li {
    display: grid;
    grid-template-columns: auto 1fr;
    /*grid-template-rows: auto 1fr;*/
    gap: 1rem;
    padding: 1rem;
    background: #eeeeee;
    border-radius: var(--standard-radius);
    margin-bottom: 0;
}

@container (max-width: 40rem) {
    .block-page_feature,
    .block-expandable_list > ul > li,
    .index-list > li {
        display: flex;
        flex-direction: column;
    }
}

.block-expandable_list > ul > li > img,
.block-page_feature > img,
.index-list > li > img {
    grid-row: span 3;
    border-radius: 100%;
    margin: auto;
}

.block-expandable_list > ul > li > a,
.block-page_feature > a,
.index-list > li > a {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    grid-column: 2;
}

/*End copied from generic-index.css*/

/*Blocks!*/

.block-show_featured_image {
    display: flex;
    flex-direction: column;
}

.block-rich_text {
    display: block;
}

.block-rich_text > p {
    margin-bottom: 1rem;
}

.page-preview.richtext > *:not(p:first-of-type){
    display: none;
}

.page-preview.stream > .block-read_more ~ * {
    display: none;
}

.block-read_more {
    display: none;
}

.page-preview.stream img {
    display: none;
}

.planningcenter-html ul,
.planningcenter-html ol,
.block-rich_text ul,
.block-rich_text ol {
    margin-left: 1rem;
}

/*Expandable Text Block*/
.block-page_feature .block-read_more ~ *,
.expandable .block-read_more ~ * {
    display: none;
}

/*.block-read_more.expand ~ * {*/
/*    display: initial;*/
/*}*/
.expandable {
    display: grid;
}

.expandable .show-more,
.expandable .show-less {
    margin-right: 1.5rem;
    margin-left: auto;
}

.expandable.expand > * {
    display: initial;
}

.expandable .show-more {
    display: initial;
}

.expandable.expand .show-less {
    display: initial;
}

.expandable.expand .show-more {
    display: none;
}

/*.expandable > button {*/
/*    display: initial;*/
/*}*/
/*End Expandable Text Block*/

/*Order of Service on desktop/mobile*/
.program {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /*text-align: center;*/
    max-width: 40rem;
}

.program h4 {
    text-transform: uppercase;
    font-variation-settings: "wght" 550;
}

.block-page_feature.order-of-service {
    width: 100%;
}

.block-page_feature.order-of-service > img {
    border-radius: 0;
}

.block-page_feature.order-of-service > .program > :not(a.show) {
    display: none;
}

.block-page_feature.order-of-service.expand > .program > :not(a.show) {
    display: initial;
}

.block-page_feature.order-of-service.expand > .program > a.show {
    display: none;
}

.block-page_feature.order-of-service > img {
    margin-top: 0.6rem;
    margin-bottom: auto;
}
/*End order of service*/

/*Hack to kinda fix styling on list page body, this will be unnecessary when all pages are block pages someday*/
article.list-page > p {
    margin-bottom: 0;
}

/*Search styling*/
article.search-page > form {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 1rem;
}

article.search-page > form > label {
    padding: 1rem 1.5rem 0.85rem;
    border: var(--standard-border-thickness) solid var(--accent-color);
    border-radius: var(--standard-radius);
    display: inline-block;
}

article.search-page > form > label > input {
    border: none;
    border-bottom: var(--standard-border-thickness) solid var(--accent-color);
    font-size: 1.2rem;
}

article.search-page .card-action {
    margin: 0;
}

article.search-page .page-buttons {
    text-align: center;
}
/*End search styling*/

.block-anchor {
    margin-top: calc(var(--standard-gap) * -1);
    display: inline;
}

.hidden {
    display: none;
}

@media print {
    header,
    nav,
    .sidebar {
        display: none;
    }

    .block-table_of_contents a:not(#specificity-hack) {
        text-decoration: none;
        color: black;
    }

    #main {
        grid-template-columns: 1fr;
    }
}