{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'core/sidebar_snippet.html' %}
    <div class="content">
        {% with group=page.group_info %}
            <article>
                <h2>{{ group.data.attributes.name|safe }}</h2>
                    <img src="{{ group.data.attributes.header_image.original }}" class="right">
                {{ group.data.attributes.description|safe }}
            </article>
        {% endwith %}
        {% if page.show_posts %}
            <hr>
            {% for post in page.get_posts %}
                <div class="post less">
                    <h3 class="post-title">{{ post.specific.title }}</h3>
                    {{ post.specific.body|richtext }}
                    <a class="showmore" href="{{ post.specific.url }}" _="on click toggle .less on closest <.post/> then halt">Show More</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
