{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'core/sidebar_snippet.html' %}
    <div class="content">
{#        {% with group=page.group_info %}#}
            <article class="planningcenter-html">
                <h1>{{ group_title }}</h1>
                    <img src="{{ header_image }}" class="right">
                    <a href="{{ churchcenter_group_url }}" class="right">View and join this group on Church Center</a>
                {{ group_body|safe }}
            </article>
{#        {% endwith %}#}
        {% if page.show_posts %}
            <hr>
            {% for post in page.get_posts %}
                <div class="post less">
                    <h3 class="post-title">{{ post.specific.title }}</h3>
                    {{ post.specific.body|richtext }}
                    <a class="showmore" href="{{ post.specific.url }}" _="on click toggle .less on closest <.post/> then halt">Show More</a>
                </div>
            {% endfor %}
        {% endif %}
        {% if refresh_from_planningcenter_link %}
            <a href="?refresh=true">Refresh from Planning Center</a>
        {% endif %}
    </div>
{% endblock content %}
