{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a>
                <ul>
                    {% for service in servicepages %}
                        <li>
                            <a href="{{ service.url }}">{{ service.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <article>
        <h1>{{ page.title }}</h1>
        <div>
            {% image page.featured_image fill-300x300 class="right" %}
            {{ page.body|richtext }}
        </div>
        {% if page.get_children.first.live %}
            <a href="{{ page.get_children.first.url }}">Order of Service</a>
        {% endif %}
    </article>
{% endblock %}