{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}
{% load static %}

{% block content %}
    <div class="sidebar">
        <a class="visual-h4" href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a>
        <ul>
            <li>
                <ul>
                    {% for service in next_services %}
                        <li>
                            <a href="{{ service.url }}">{{ service.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <article class="content list-page">
        <h1>{{ page.title }}</h1>
        <div class="block-rich_text"> <!--This isn't actually a StreamField block, but we need the same styling.-->
            {% image page.featured_image fill-300x300 class="right" %}
            {{ page.body|richtext }}
        </div>
        {% if page.video_archive_link and page.show_video_embed %}
            <div class="block-rich_text"><p>View the video archive of this service here:</p></div>
            {% embed page.video_archive_link %}
        {% elif page.service_in_future %}
            <div class="block-rich_text"><p>To join this service over the internet, please see <a href="{{ settings.site_settings.SiteWideSettings.internal_livestream_page.url }}">our live stream page</a>.</p></div>
        {% endif %}
        {% if page.get_children.first.live %}
            {% if page.get_children.specific.first.back_page %}
                <div class="order-of-service-dual-page-feature">
                    <div class="tab">
                        <div class="visual-h2">Order of Service</div>
                        <div>Our order of service is available both here on our website and in print.</div>
                        <button class="card-action show" _="on click remove .selected from <.tab, .oos-content/> then add .selected to closest parent <.tab/> then add .selected to #oos-program">Show</button>
                        <button class="card-action hide" _="on click remove .selected from <.tab, .oos-content/>">Hide</button>
                    </div>
                    <div class="tab">
                        <div class="visual-h2">{{ page.get_children.first.specific.back_page_title }}</div>
                        <div>{{ page.get_children.first.specific.back_page_description|richtext }}</div>
                        <button class="card-action show" _="on click remove .selected from <.tab, .oos-content/> then add .selected to closest parent <.tab/> then add .selected to #oos-info">Show</button>
                        <button class="card-action hide" _="on click remove .selected from <.tab, .oos-content/>">Hide</button>
                    </div>
                    <div class="oos-content" id="oos-program">
                        {% include_block page.get_children.first.specific.program %}
                    </div>
                    <div class="oos-content block-rich_text" id="oos-info">
                        {{ page.get_children.first.specific.back_page|richtext }}
                    </div>
                </div>
            {% else %}
                <div class="block-page_feature order-of-service">
                    <img src="{% static 'chalice-logo-black.svg' %}">
                    <h2>Order of Service</h2>
                    Our order of service is available both here on our website and in print.
                    <div class="program">
                        {% include_block page.get_children.first.specific.program %}
                        <a href="" class="show" _="on click add .expand to closest <.order-of-service/> then halt">Show Order of Service</a>
                        <a href="" class="hide" _="on click remove .expand from closest <.order-of-service/> then halt">Hide Order of Service</a>
{#                        <a href="{{ page.get_children.first.url }}?print=true">View Printable Version</a>#}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if page.transcript %}
            <div class="block-rich_text">
                <h2>{{ page.transcript_heading }}</h2>
                {{ page.transcript|richtext }}
            </div>
        {% endif %}
    </article>
{% endblock %}