{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}
{% load static %}

{% block content %}
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a>
                <ul>
                    {% for service in servicepages %}
                        <li>
                            <a href="{{ service.url }}">{{ service.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <article>
        <h1>{{ page.title }}</h1>
        <div>
            {% image page.featured_image fill-300x300 class="right" %}
            {{ page.body|richtext }}
        </div>
        {% if page.video_archive_link %}
            <div>View the video archive of this service here:</div>
            {% embed page.video_archive_link %}
    `   {% else %}
            <div>To join this service over the internet, please see <a href="{{ settings.site_settings.SiteWideSettings.internal_livestream_page.url }}">our live stream page</a>.</div>
        {% endif %}
        {% if page.get_children.first.live %}
            <div class="block-page_feature order-of-service">
                <img src="{% static 'chalice-logo-black.svg' %}">
                <h2>Order of Service</h2>
                Our order of service is available both here on our website and in print.
                <div class="program">
                    {% include_block page.get_children.first.specific.program %}
                    <a href="" class="show" _="on click add .expand to closest <.order-of-service/> then halt">Show Order of Service</a>
                    <a href="" class="hide" _="on click remove .expand from closest <.order-of-service/> then halt">Hide Order of Service</a>
                    <a href="{{ page.get_children.first.url }}?print=true">View Printable Version</a>
                </div>
            </div>
        {% endif %}
    </article>
{% endblock %}