{% extends 'base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load icon %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/services_home_page.css' %}">
{% endblock %}

{% block content %}
    <div class="card upcoming-service">
        {% if next_service.get_children.first.specific.is_on_sunday %}
            <h2>This Sunday's Service</h2>
        {% else %}
            <h2>Upcoming Service</h2>
        {% endif %}
        <span class="service-description">
            {% image next_service.featured_image fill-200x200 class="right" %}
            <a href="{{ next_service.url }}"><h3>{{ next_service.title }}</h3></a>
            <div class="block-rich_text">
                {{ next_service.body|richtext }}
            </div>
            <a class="card-action" href="{{ next_service.url }}">
{#                {% icon "plus" %}#}
                More Details
            </a>
        </span>
    </div>
    <div class="card">
        <h2>Upcoming Services</h2>
{#        Upcoming services list#}
        <div class="events-container services">
            <ul>
                {% for service in next_services_list %}
                    <li>
                        <span>
                            <a href="{{ service.url }}"><h3>{{ service.title }}</h3></a>
                        </span>
                        <span class="event-info">
                            {% if service.one_sentence %}
                                {{ service.one_sentence }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card archive" id="past-services">
        <h2>Past Services</h2>
{#        Service Archive, show 5 and allow expansion#}
{#    Make this an HX-Post which knows what the last-fetched service was, OOB swaps the form, and loads the next 10.#}
        <div class="events-container services">
            <ul>
                {% for service in previous_services_list %}
                    <li>
                        <span>
                            <a href="{{ service.url }}"><h3>{{ service.title }}</h3></a>
                        </span>
                        <span class="event-info">
                            {% if service.one_sentence %}
                                {{ service.one_sentence }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block-rich_text">
            <span
                    class="pagination-links"
                    hx-select="#past-services"
                    hx-target="#past-services"
                    hx-swap="outerHTML"
                    hx-replace-url="true"
            >
                <a
                    {% if previous_services_list.has_previous %}
                        href="?page={{ previous_services_list.previous_page_number }}"
                        hx-get="?page={{ previous_services_list.previous_page_number }}"
                    {% else %}
                        href=""
                        disabled
                    {% endif %}
                >
                    Previous Page
                </a>
                {% for page_num in previous_services_list.paginator.page_range %}
                    <a
                            {% if not page_num == previous_services_list.number %}
                            href="?page={{ page_num }}"
                            hx-get="?page={{ page_num }}"
                            {% else %}
                            class="current"
                            disabled
                            {% endif %}
                    >
                        {{ page_num }}
                    </a>
                {% endfor %}
                <a
                    {% if previous_services_list.has_next %}
                        href="?page={{ previous_services_list.next_page_number }}"
                        hx-get="?page={{ previous_services_list.next_page_number }}"
                    {% else %}
                        href=""
                        disabled
                    {% endif %}
                >
                    Next Page
                </a>
            </span>
        </div>
    </div>
{% endblock %}