{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/forms.css' %}">
{% endblock %}

{% block content %}
    {% if page.show_sidebar %}
        {% include 'core/sidebar_snippet.html' %}
    {% endif %}
    <div class="content">
        <article>
        <h1>{{ page.title }}</h1>
        {{ page.intro|richtext }}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if page.send_confirmation_email %}
                <p>When you submit this form, you will receive an email confirming your entries.</p>
            {% endif %}
            <button type="submit" class="card-action">Submit</button>
        </form>
        </article>
    </div>
{% endblock %}