{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load feature_page %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/generic-index.css' %}">
{% endblock %}

{% block content %}
    {% include 'core/sidebar_snippet.html' %}
    <div class="content">
        <article class="list-page">
            <h1>{{ page.title }}</h1>
            {% image page.featured_image max-900x500 class="full-width" %}
            {{ page.body|richtext }}
        <hr>
            <ul class="index-list">
                {% for child_page in page.get_children %}
                    {% if child_page.live %}
                        <li>
                            {% feature_page child_page %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
    </div>
{% endblock %}