{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/generic-index.css' %}">
{% endblock %}

{% block content %}
    {% include 'core/sidebar_snippet.html' %}
    <div class="content">
        <article>
            <h2>{{ page.title }}</h2>
            {% image page.featured_image fill-200x200 %}
            {{ page.body|richtext }}
        <hr>
            <ul class="index-list">
                {% for child_page in page.get_children %}
                    {% if child_page.live %}
                        <li>
                            {% image child_page.specific.featured_image fill-200x200 %}
                            <h3><a href="{{ child_page.url }}">{{ child_page.specific.title }}</a></h3>
                            <span class="child-page-description"
                                  _="on load remove <.child-page-description > :not(p:first-of-type)/>"
                            >
                                {{ child_page.specific.body|richtext }}
                            </span>
                        <a href="{{ child_page.url }}">Read More</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
    </div>
{% endblock %}