{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    {% include 'core/sidebar_snippet.html' %}
    <div class="content">
        <article>
            <h2>{{ page.title }}</h2>
            {% image page.featured_image fill-375x400 class="right" %}
            {{ page.body|richtext }}
        </article>
        {% if page.show_posts %}
            <hr>
            {% for post in page.get_posts %}
                <div class="post less">
                    <h3 class="post-title">{{ post.specific.title }}</h3>
                    {{ post.specific.body|richtext }}
                    <a class="showmore" href="{{ post.specific.url }}" _="on click toggle .less on closest <.post/> then halt">Show More</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}