{% load icon %}
{% load wagtailcore_tags %}
{% with children=page.get_children.all %}
    <li class="page-leaf {% if not children %}no-children{% endif %}">
        <span>
            <a href="{{ page.url }}"><span class="visual-h2">{{ page.title }}</span></a>
            {{ page.specific.summary|richtext }}
        </span>
        {% if children %}
            <button class="card-action" _="on click toggle .expand on closest parent <.page-leaf/> then blur() me">{% icon 'chevron-down' %}</button>
            <div class="expander">
                <ul>
                    {% for child in children %}
                        {% if child.live %}
                            {% include "core/page_in_tree_snippet.html" with page=child %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endwith %}