{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% if value.specific.featured_image %}
    {% image value.specific.featured_image fill-200x200 class="round-featured-image" %}
{% else %}
    <img src="{% static 'chalice-logo-black.svg' %}" class="round-featured-image">
{% endif %}
<span class="visual-h3"><a href="{{ value.url }}">{{ value.title }}</a></span>
{% if value.specific.summary %}
    <div class="page-preview">
        {{ value.specific.summary|richtext }}
    </div>
{% elif body_is_streamfield %}
    <div class="page-preview stream"> {# TODO: Remove extra DOM elements once _hyperscript supports ~ (as in remove <.block-read_more ~ * />) #}
        {% include_block value.specific.body %}
    </div>
{% else %}
    <div class="page-preview richtext" _="on load remove <next .page-preview > *:not(p:first-of-type)/>">
        {{ value.specific.body|richtext }}
    </div>
{% endif%}
<a href="{{ value.url }}">Read More</a>
