{% extends 'base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
{% endblock %}

{% block content %}
    {% if page.show_sidebar %}
        {% include 'core/sidebar_snippet.html' %}
    {% endif %}
    <article class="content list-page">
        <h1>{{ page.title }}</h1>
        {% block pre_body %}{% endblock %}
        {% include_block page.body %}
        {% block post_body %}{% endblock %}
    </article>
{% endblock %}