{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% if next_service.get_children.first.specific.is_on_sunday %}
    <h2>This Sunday's Service</h2>
{% else %}
    <h2>Upcoming Service</h2>
{% endif %}
<h3>{{ next_service.title }}</h3>
{% image next_service.featured_image fill-300x300 class="right" %}
{{ next_service.body|richtext }}
{% if next_oos.live %}
    <div class="block-page_feature order-of-service">
        <img src="{% static 'chalice-logo-black.svg' %}">
        <h3>Order of Service</h3>
        Our order of service is available both here on our website and in print.
        <div class="program">
            {% include_block next_oos.program %}
            <a href="" class="show" _="on click add .expand to closest <.order-of-service/> then halt">Show Order of Service</a>
            <a href="" class="hide" _="on click remove .expand from closest <.order-of-service/> then halt">Hide Order of Service</a>
{#            <a href="{{ page.get_children.first.url }}?print=true">View Printable Version</a>#}
        </div>
    </div>
{% endif %}