
@media screen { /* really, this will be the print layout eventually */
    .program {
        column-count: 2;
        column-gap: 2rem;
        height: 8.5in;
        /*width: 11in;*/ /*Commented out size defs for testing*/
        padding: 2rem;
        border: 1px solid black;
    }

    /*Standard Element Styling*/
    .oos-element {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        break-inside: avoid;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .oos-element > h4 {
        text-transform: uppercase;
    }

    .oos-element-info {
        text-align: right;
        grid-row: span 1;
    }

    /*Multi-Column Block*/
    .block-multicolumn {
        display: flex;
        width: 100%;
    }

    .block-multicolumn > .block-column {
        flex-grow: 1;
    }
}