
@media { /* really, this will be the print layout eventually */
    .span {
        grid-column: span 2;
    }

    /*body > * {*/
    /*    display: none;*/
    /*}*/

    /*body > div > * {*/
    /*    display: none;*/
    /*}*/

    body {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        font-family: sans-serif;
        font-size: 11pt;
    }

    #content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 11in;
        height: 16in;
    }

    p {
        margin: 0;
    }

    .program {
        column-count: 2;
        column-gap: 4rem;
        /*height: 100%;*/
        /*width: 100%;*/
        padding: 2rem;
        border: 1px solid black;
        display: block;
        page-break-after: always;
        font-size: 1rem;
    }

    .program:first-child > div {
        break-inside: avoid-column;
    }

    #cover-page {
        text-align: center;
    }

    #back-page {
        display: grid;
        gap: 0.5rem;
    }

    /*Standard Element Styling*/
    .oos-element {
        display: grid;
        gap: 0.25rem;
        grid-template-columns: auto 1fr;
        /*break-inside: avoid-column;*/
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .oos-element h4 {
        text-transform: uppercase;
        /*float: left;*/
        clear: both;
        white-space: nowrap;
        display: inline;
        font-variation-settings: "wght" 600;
    }

    .oos-element p {
        display: inline;
        white-space: nowrap;
        margin-right: 0;
        margin-left: auto;
    }

    .oos-element > :not(:first-child):not(:nth-child(2)) {
        grid-column: span 2;
    }

    /*Multi-Column Block*/
    .block-multicolumn {
        display: flex;
        width: 100%;
    }

    .block-multicolumn > .block-column {
        flex-grow: 1;
    }
}