main {
    display: grid;
    gap: var(--standard-gap);
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    /*align-items: start;*/
}

.archive {
    grid-column: span 2;
    min-height: 40dvh;
    margin-bottom: 1rem;
}

@media screen and (max-width: 60rem) {
    main {
        grid-template-columns: 1fr;
    }

    .archive {
        grid-column: unset;
    }
}