main {
    display: grid;
    gap: var(--standard-gap);
    padding: 1rem;
    grid-template-columns: 1fr;
}

main .card {
    min-height: 40dvh;
}

main .card:last-child{
    margin-bottom: var(--standard-gap);
}

.placeholder {
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 60rem) {
    main {
        grid-template-columns: 1fr;
    }

    .archive {
        grid-column: unset;
    }
}