<h2>Upcoming Events</h2>
<div class="events-container">
    <ul>
        {% for event in upcoming_events %}
            <li>
                <span class="event-title">
                    <h3>{{ event.name }}</h3>
                    <a href="{{ event.link }}">
                        More Info
                    </a>
                </span>
                <span class="event-info">
                    {{ event.readable_times.date }} {{ event.readable_times.start_time }} - {{ event.readable_times.end_time }}
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
<a class="card-action" href="{{ settings.site_settings.SiteWideSettings.churchcenter_calendar_url }}">View Full Calendar</a>
