#content {
    display: inline;
}

article {
    display: grid;
    gap: var(--standard-gap)
}

.home-header-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    gap: var(--standard-gap);
    width: 100%;
    height: fit-content;
}

@media screen and (min-width: 8in) {
    .home-header-container > .card {
        margin-bottom: 0;
        border: none;
    }
}

@media screen and (max-width: 8in) {
    /*Responsive Home-Header*/
    .home-header-container {
        display: flex;
        flex-direction: column;
        gap: var(--standard-gap);
    }
}
