{% load wagtailimages_tags %}
{% image carousel_image.carousel_image fill-640x375 as displayed_image %}

<div class="carousel-container">
    <div class="carousel-image" id="carousel-image-{{ carousel_image.pk }}"
         hx-trigger="load delay:10s"
         hx-get="{% url 'next-carousel-image' carousel_image.pk %}"
         hx-swap="afterend"
         hx-select=".carousel-image"
         _="on load wait 11s then remove <.carousel-image:not(:last-child)/>">
        <img alt="{{ displayed_image.alt }}"
             width="{{ displayed_image.width }}"
             height="{{ displayed_image.height }}"
             src="{{ displayed_image.url }}">
        {% if carousel_image.header %}
            <span class="carousel-header">{{ carousel_image.header }}</span>
        {% endif %}
    </div>
</div>