{% load wagtailimages_tags %}
{% load icon %}
{% image carousel_image.carousel_image fill-640x375 as displayed_image %}

<div class="carousel-container" _="on changeImage wait 1s then remove <.carousel-image:not(:last-of-type)/>">
    <div class="carousel-image" id="carousel-image-{{ carousel_image.pk }}"
         hx-trigger="changeImage"
         hx-get="{% url 'next-carousel-image' carousel_image.pk %}"
         hx-swap="afterend"
         hx-select=".carousel-image"
         >
        <img alt="{{ displayed_image.alt }}"
             width="{{ displayed_image.width }}"
             height="{{ displayed_image.height }}"
             src="{{ displayed_image.url }}">
        {% if carousel_image.header %}
            <h2 class="carousel-header">{{ carousel_image.header }}</h2>
        {% endif %}
    </div>
    <span class="carousel-buttons" id="carousel-buttons" hx-swap-oob="true">
        <button id="carousel-previous" _="on click set <.carousel-image/>'s @hx-get to '{% url 'previous-carousel-image' carousel_image.pk %}' then call htmx.process(document.body) then send changeImage to <.carousel-image/> then if window.matchMedia( '(pointer: coarse)' ).matches blur() me end on mouseleave blur() me" aria-label="Previous Carousel Image">{% icon 'chevron-left' width='60' height='60' %}</button>
        <button id="carousel-next" _="on click send changeImage to <.carousel-image/> then if window.matchMedia( '(pointer: coarse)' ).matches blur() me end on mouseleave blur() me" aria-label="Next Carousel Image">{% icon 'chevron-right' width='60' height='60' %}</button>
    </span>
</div>