{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load icon %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/image-carousel.css' %}">
{% endblock extra_css %}

{% block content %}
    <article>
    <div class="home-header-container">
        {% if page.carousel_images.first %}
        {% include "home/carousel_image.html" with carousel_image=page.get_carousel_image %}
        {% endif %}
        <div class="card upcoming-service">
            <h2>Upcoming Service</h2>
            <h3>{{ next_service.title }}</h3>
            <span class="link-container">
                {% if next_service.video_archive_link %}
                    <a href="{{ next_service.url }}">See Recording</a>
                {% else %}
                    <a href="{{ settings.site_settings.SiteWideSettings.internal_livestream_page.url }}">Live Stream</a> or in person!
                {% endif %}
            </span>
{#            {% image next_service.featured_image fill-200x200 %}#}
            <span class="service-description">
                {% image next_service.featured_image fill-150x150 class='right'%}
                {{ next_service.one_sentence|richtext }}
            </span>
            <span class="upcoming-service-buttons">
                <a class="card-action" href="{{ page.first_time_visitors_page.url }}">
                    {% icon "star" %}
                    First Time<br>Visitor?
                </a>
                <a class="card-action" href="{{ next_service.url }}">
                    {% icon "plus" %}
                    More<br>Details
                </a>
                <a class="card-action" href="{{ page.services_home_page.url }}">
                    {% icon "list" %}
                    All<br>Services
                </a>
            </span>
        </div>
    </div>
    {% if page.center_stage_header_text or page.center_stage_body %}
        <div class="card horizontal">
            {% if page.center_stage_header_text %}
                <h2>{{ page.center_stage_header_text }}</h2>
            {% endif %}
            {% if page.center_stage_body %}
                {{ page.center_stage_body|richtext }}
            {% endif %}
        </div>
    {% endif %}
    {% if page.body %}
        {% include_block page.body %}
    {% endif %}
    </article>
{% endblock content %}
